# Chapter 3. 판다스 데이터프레임과 시리즈

#### 데이터프레임과 시리즈는 데이터를 다루는 데 더 특화되어 있음. 많은 양의 데이터를 저장, 스프레드시트 프로그램과 같이 행과 열 단위로 원하는 데이터를 조작할 수 있음.

#### 알아두기: 파이썬 자료형(리스트, 딕셔너리), 파이썬 함수 사용법, 파이썬 인덱스

# Chapter 3_1 나만의 데이터 만들기

### 시리즈와 데이터프레임 직접 만들기

#### 1. 시리즈 만들기
#### 판다스의 Series 메서드에 리스트를 전달하여 시리즈를 생성.

In [3]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

#### 2. 새로 시리즈를 생성할 때, 문자열을 인덱스로 지정할 수 있음. (보통 0~부터 정수로 지정됨.)
#### Series 메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달.

In [3]:
s = pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [4]:
s = pd.Series(['Wes McKinney','Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### 3. 데이터프레임 만들기
#### 딕셔너리를 DataFrame 클래스로 전달.

In [5]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin','William Gosset'],
    'Occupation': ['Chemist','statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16','1937-10-16'],
    'Age': [37,61]}
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  statistician  1876-06-13  1937-10-16   61

#### 인덱스를 지정하지 않은 경우 0부터 정수로 입력된 인덱스를 좌측에서 확인할 수 있음.
#### index 인자에 리스트를 전달할 경우 인덱스를 따로 지정할 수 있음. columns 인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있음.
#### 이는 딕셔너리의 순서와 무관하게 columns에 전달된 값을 따라 지정됨.

In [8]:
scientists = pd.DataFrame(
data={'Occupation': ['Chemist','Statistician'],
     'Born': ['1920-07-25','1876-06-13'],
     'Died': ['1958-04-16','1937-10-16'],
     'Age':[37,61]},
index = ['Rosaline Franklin','William Gosset'],
columns = ['Occupation','Born','Age','Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

#### Died와 Age의 순서가 columns 메서드의 순서에 따라 변경된 것을 확인할 수 있음.
#### 다만 딕셔너리는 키(Key)와 값(Value)로 이루어진 한 쌍의 데이터의 순서를 보장하지 않음.
#### 순서가 보장된 딕셔너리를 전달하기 위해서는 OrederedDict을 사용.

In [10]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name',['Rosaline Franklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-25','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',[37,61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# Chapter 3_2 시리즈 다루기 - 기초

#### 시리즈는 판다스의 데이터를 구성하는 기본단위.

#### 데이터프레임에서 시리즈 선택하기.

#### 변수 scientists에 데이터프레임을 준비

In [11]:
scientists = pd.DataFrame(
data={'Occupation':['Chemist','Statistician'],
     'Born':['1920-07-25','1876-06-13'],
     'Died':['1958-04-16','1937-10-16'],
     'Age':[37,61]},
index = ['Rosaline Fraklin','William Gosset'],
columns = ['Occupation','Born','Died','Age'])

#### 데이터프레임에서 시리즈를 선택하려면 loc 속성에 인덱스(과학자 이름)를 전달. 
#### 시리즈 선택을 확인하기 위해 type 메서드로 검사.

In [12]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

#### first_row 출력.
#### Age에 정수형 리스트가 전달되어 있으나 자료형은 오브젝트로 인식됨.

In [13]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

#### loc,iloc 외 index, values 속성과 keys 메서드가 있음.

#### index 속성에는 시리즈의 인덱스가 포함됨.

In [14]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

#### values 속성에는 시리즈의 데이터가 정당되어 있음.

In [15]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

#### keys는 속성이 아닌 메서드. index 속성과 같은 역할을 수행함.

In [16]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

#### index 속성의 첫 번째 값을 추출하기 위해서는 아래와 같은 코드를 사용

In [17]:
print(first_row.index[0])

Occupation

#### keys 메서드의 결괏괎을 이용하여 인덱스의 첫 번째 값을 추출하는 방법은 아래와 같음.

In [19]:
print(first_row.keys()[0])

Occupation

### 시리즈의 기초 통계 메서드

#### mean, min, max, std 메서드

#### scientstis의 Age 열을 통해 확인

In [20]:
ages = scientists['Age']
print(ages)

Rosaline Fraklin    37
William Gosset      61
Name: Age, dtype: int64

#### 이때, 시리즈를 구성하는 데이터가 정수라면, mean, min, max, std와 같은 통계 메서드를 사용할 수 있음.

In [21]:
print(ages.mean())

49.0

In [22]:
print(ages.min())

37

In [23]:
print(ages.max())

61

In [24]:
print(ages.std())

16.97056274847714

#### 시리즈 메서드 정리

#### append: 2개 이상의 시리즈 연결
#### describe: 요약 통계량 계산
#### drop_duplicates: 중복값이 없는 시리즈 반환
#### equals: 시리즈에 해당 값을 가진 요소가 있는지 확인
#### get_values: 시리즈 값 구하기 (values 속성과 동일)
#### isin: 시리즈에 포함된 값이 있는지 확인
#### min: 최솟값 반환
#### max: 최댓값 반환
#### mean: 산술 평균 반환
#### median: 중간값 반환
#### replace: 특정 값을 가진 시리즈 값을 교체
#### sample: 시리즈에서 임의의 값을 반환
#### sort_values:  값을 정렬
#### to_frame: 시리즈를 데이터프레임으로 변환

# Chapter 3_3 시리즈 다루기 - 응용

### 시리즈와 불린 추출
#### 추출할 데이터의 정확한 인덱스를 모르는 경우 불린 추출을 통해 추출.
#### 불린 추출은 특정 조건을 만족하는 값만 추출.

#### 'scientists.csv'데이터 불러오기

In [4]:
scientists = pd.read_csv('doit_pandas/data/scientists.csv')

In [5]:
import os
print(os.getcwd())

C:\Users\user\python_study\doit_pandas_study

In [7]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

#### mean, min, max, std 메서드를 통한 통계 수치 계산 (Age열을 기준으로)

In [8]:
ages = scientists['Age']
print(ages.max())

90

In [9]:
print(ages.mean())

59.125

In [10]:
print(ages.min())

37

In [11]:
print(ages.std())

18.325918413937288

In [12]:
print(ages.max())

90

#### 불린 추출: 평균 나이보다 나이가 많은 사람의 데이터를 추출.

In [15]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [17]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

#### ages > ages.mean()의 결과를 추출한 결과 해당 조건(평균보다 높은 값)을 가진 인덱스 1,2,3,7의 데이터는 참(True)로 표기됨.
#### 따라서 조건식을 만족한 값만 출력된 것을 확인할 수 있음.
#### 리스트의 형태로 참이나 거짓을 시리즈에 ㄷ전달하면, 참인 인덱스의 데이터만 추출할 수 있음. (이를 '불린 추출'(bool_values)라 표기함)

In [19]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

### 시리즈와 브로드 캐스팅

#### 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 브로드캐스팅이라고 함. (Broadcasting)
#### 여러 개의 값을 가진 데이터를 벡터, 단순 크기를 나타내는 데이터를 스칼라 라고 부름. (시리즈는 벡터의 일종)

### 벡터와 스칼라로 브로드캐스팅 수행하기

#### 벡터를 이용하여 더하기, 곱하기 연산을 수행하면 같은 길이의 벡터가 출력됨.

In [20]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [21]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

#### 벡터의 모든 값에 스칼라를 적용하여 브로드캐스팅한 것은 아래와 같음

In [22]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [23]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### 길이가 서로 다른 벡터를 연산하는 경우: 시리즈와 시리즈를 연산할 때, 같은 인덱스의 값만 계산됨.
#### 인덱스가 일치하지 않는 결과는 누락값(NaN)으로 처리됨.

In [24]:
print(pd.Seres([1,100]))

AttributeError: module 'pandas' has no attribute 'Seres'

In [25]:
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

#### sort_index 메서드: asending(내림차순) 인자로 False를 전달한 값은 아래와 같음. (데이터의 역순이 아님에 주의)

In [27]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

#### 순차적으로 정렬된 ages와 내림차순으로 정렬된 rev_ages를 연산한 것은 정렬여부와 무관하게 같은 값을 가짐. (벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행되기 때문!)

In [28]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [30]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### 2를 곱한것과 역순으로 정렬된 값을 더한 것이 같은 값을 가진다는 것을 확인할 수 있음.

# Chapter 3_4 데이터프레임 다루기

#### 데이터프레임 역시 시리즈처럼 불린 추출과 브로드캐스팅을 이용할 수 있음.

### 불린 추출하기

In [31]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

#### 참과 거싯을 담은 리스트를 bool 벡터로 부름. 이때, bool 벡터의 길이가 데이터프레임의 행 길이보다 짧으면, bool 벡터의 길이만큼만 연산됨.
#### loc 속성에 길이가 4인 bool 벡터를 전달한 것은 아래와 같음.
#### (교재와 달리 최신버전에서는 벡터의 길이가 짧은 것을 연산할 경우 에러가 발생, 모든 벡터의 길이를 추가한 것은 아래와 같음.)

In [36]:
print(scientists.loc[[True, True, False, True,True,True,True,True]])

                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1     William Gosset  1876-06-13  1937-10-16   61        Statistician
3        Marie Curie  1867-11-07  1934-07-04   66             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5          John Snow  1813-03-15  1858-06-16   45           Physician
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7       Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

#### 해당 데이터 프래임에 스칼라 연산을 적용한 결과는 시리즈에 스칼라 연산을 적용한 결과와 같음.

In [37]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# Chapter 3_5 시리즈와 데이터프레임의 데이터 처리하기

### 시리즈와 데이터프레임의 데이터 처리하기

#### scientists 데이터프레임의 Born과 Died 열의 자료형 확인. (각 자료형은 문자열(오브젝트)

In [50]:
print(scientists["Born"].dtype)

object

In [51]:
print(scientists['Died'].dtype)

object

#### 시간관련 작업을 수월하게 진행하기 위해서는 문자열의 자료형은 datetime이라는 자료형으로 바꾸는 것이 좋음.
#### Born, Died 열의 자료형을 datetime이라는 자료형으로 바꾼 후 format속성을 '%Y-%m-%d'로 지정한 형식.

In [52]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [53]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

#### 각 데이터의 자료형을 datetime으로 바꿔, born_datetime, died_datetime에 저장.
#### 이를 scientists 데이터프레임에 born_dt, died_dt열을 추가. (Shape 속성을 통해 변화된 크기를 확인할 수 있음.)

In [54]:
scientists['born_dt'],scientists['died_dt']=(born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [55]:
print(scientists.shape)

(8, 7)

#### died_dt 열에서 born_dt 열을 빼면 과학자의 수명을 계산할 수 있음.

In [57]:
scientists['age_days_dt']=(scientists['died_dt']-scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### 시리즈, 데이터 프레임의 데이터 섞기

####  판다스는 시리즈나 데이터프레임의 값을 무작위로 섞을 수 있음.

In [58]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

#### Age 열의 데이터를 섞기 위해서는 rando 라이브러리를 불러온 후 shuffle 메서드를 이용해야 함.

In [60]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\Users\user\anaconda3\lib\random.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

#### 데이터 프레임의 열 삭체는 drop 메서드를 이용.
#### 불러온 데이터 중, Age 열을 삭제하는 과정은 다음과 같음.

In [61]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [64]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# Chapter 3_6 데이터 저장하고 불러오기

### 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기.

### 피클로 저장하기

#### 피클은 데이터를 바이너리 형태로 질렬화한 오브젝트를 정장하는 방법.
#### 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있음.
#### 시리즈를 피클로 저장하는 것은 to_pickle 메서드를 사용. (저장 경로는 문자열로 전달해야 함.)
#### 데이터 프레임 역시 피클로 저장할 수 있음.

In [73]:
names = scientists['Name']
names.to_pickle('doit_pandas/output/scientists_names_series.pickle')

In [74]:
scientists.to_pickle('doit_pandas/output/scientists_df.pickle')

#### 피클은 바이너리 형태의 오브젝트이므로 반드시 read_pickle 메서드를 통해 읽어 들여야 함.

In [75]:
scientist_names_from_pickle = pd.read_pickle('doit_pandas/output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [77]:
scientists_from_pickle = pd.read_pickle('doit_pandas/output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### CSV 파일과 TSV 파일로 저장하기.

#### CSV파일은 데이터를 쉼표(,)로 구분하여 저장.
#### TSV파일은 데이터를 탭(tab)으로 구분하여 저장. 

#### to_csv 메서드를 통해 시리즈와 데이터프레임을 CSV파일로 저장.
#### sep 인자를 추가하여 '\t'를 지정하고 파일의 확장자를 '.tsv'로 지정하면 TSV파일로 저장할 수 있음.

In [79]:
names.to_csv('doit_pandas/output/scientist_names+series.csv')
scientists.to_csv('doit_pandas/output/scientists_df.tsv', sep='\t')

#### 시리즈와 데이터프레임을 엑셀 파일로 저장.

#### 데이터프레임은 엑셀 파일형식으로 바로 저장할 수 있는 반면, 시리즈는 엑셀 파일로 정장할 수 있는 데이터프레임으로 변환해야 함. 
#### 해당 작업을 위해서는 openpyxl 라이브러리가 필요.

pip install xlwt
pip install openpyxl

#### 해당 명령어를 아나콘다 프롬프트에 입력하여 설치.

#### 시리즈의 경우 to_frame 이라는 메서드를 사용해 데이터 프레임으로 변환한 뒤 엑셀 파일 (확장자.xls, .xlsx)로 저장.